*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILO PANEL DE VICTORIA*/

#winPanel{
    position: absolute;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 200px;
    
    background-image: url(./media/texturaPergamino.avif);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.4);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ESTILO DE LOS BOTONES */

.btn{
    position: absolute;

    width: 100px;
    height: 30px;

    background-color: #442803;
    color: white;
}

#mePlantoP1{
    top: 10px;
    left: 150px;
}

#mePlantoP2{
    bottom: 10px;
    right: 150px;
}

/*ESTILO DE LA MESA*/

#mesa{
    position: relative;

    width: 700px;
    height: 600px;

    background-image: url(./media/texturaMesa.avif);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.4);
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
}

#mesa .mazo{
    width: 100px;
}

#flecha{
    width: 200px;
    height: 200px;
    pointer-events: none;

    transform-origin: center;
    transition: transform 1s ease;
}

#flecha img{
    width: 50px;
}

.centrar{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CLASE PARA DESAPARECER COSAS*/

.invisible{
    opacity: 0;
    pointer-events: none;
}

.intocable{
    pointer-events: none;
}

/*IMAGEN DE CUNADO EL PAYER SE PASA*/

.imgFuera{
    position: absolute;
    z-index: 100;

    width: 150px;
    height: 150px;
}

#perdioP1{
    top: 5px;
    left: -20px;
}

#perdioP2{
    bottom: 5px;
    right: -20px;
}